<form action="#" >
    <div class="flex ">
        <div class="flex-col  border-r border-b  w-full py-10 pr-12">
            <h2 class=" font-semibold leading-7 text-gray-100 mb-10">Infos</h2>
            Email <input type="text" class="flex rounded-md bg-transparent border my-3 py-2 w-full "> 
            Message <input type="text" class="flex rounded-md bg-transparent border my-3 p-4 w-full"> 
        </div>
    </div>
  
</form>